body {
  margin: 0%;
  background-color: rgb(218, 218, 186);
  font-family: Arial, sans-serif;
  color: #2d2d2d;
}

/* NAVIGATION BAR STYLING */

.nav-bar {
  padding-bottom: 30px;
  margin-bottom: 0%;
  font-size: x-large;
  color: antiquewhite;
  margin-top: 0%;
  text-align: center;
  background-color: rgba(11, 11, 99, 0.897);
}

/* MAIN NAVIGATION BUTTONS STYLING */

  .main-main-button {
  background-color: rgb(47, 47, 185);
} 

 .main-button {
  width: 265px;
  height: 40px;
  border: 0;
  padding: 5px 5px 5px 5px;
  margin: 0;
  background-color: rgb(47, 47, 185);
  border-radius: 30px;
  font-size: large;
  color: rgb(255, 255, 255);
} 

.one {
  background-color: rgb(124, 194, 218);
  color: rgb(0, 116, 0);
  font-weight: 900;
  text-decoration: underline;
  box-shadow: 1px 3px gray;
  border-radius: 30px;
}

.two:hover {
  box-shadow: 1px 2px gray;
  text-shadow: 1px 1px 8px rgb(106, 106, 106);
  background-color: rgb(124, 194, 218);
  color: rgb(0, 116, 0);
  text-decoration: underline;
  font-weight: 600;
}

/* MAIN MENU BUTTONS STYLING */

.menu-buttons {
  border: 0;
  padding: 5px 5px 5px 5px;
  background-color: rgba(226, 197, 118, 0.733);
  border-radius: 2px;
  font-size: large;
  color: rgb(168, 0, 0);
  width: 300px;
  height: 30px;
  border: 1px solid rgb(168, 0, 0);
}

.main-menu-buttons {
  display: block;
  text-align: center;
}

.three:hover {
  text-decoration: underline;
  font-size: 110%;
  box-shadow: 3px 4px 10px gray;
}

/* HEADINGS STYLING */
.main-heading {
  font-family: "Times New Roman", Times, serif;
}
.sub-heading {
  text-align: center;
  color: rgb(185, 1, 1);
  text-decoration: underline;
  background-color: rgba(226, 210, 167, 0.719);
  padding: 5px;

  font-size: x-large;
}
.first {
  margin-top: 0%;
}

/* LIST STYLING */
 li {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.6;
}

ul {
  padding-left: 10px;
} 
/* ABOUT AND CONTACT PAGE STYLING */

.about-contact-body {
  background-color: rgba(172, 149, 88, 0.733);
}
.about-contact-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #e5c289;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-contact-heading {
  color: #121212;
  text-align: center;
}
.about-para {
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
}
.about-contact-heading ~ p {
  font-weight: 600;
}

.about-contact-section a:hover {
  color: #0056b3;
}
